:host {
    display: block;
    font-family: sans-serif;
    padding: 8px 24px;
    border-radius: 4px;
    background-color: #ddd;
    text-transform: uppercase;
    color: #aaa;
}

:host(:focus) {
    outline: none;
    background-color: #555;
}

:host(:focus) .selected {
    color: #fff;
}

:host(:focus) #value {
    color: #6EBBF8;
    background-color: #666;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
    padding: 4px;
    line-height: 32px;
}

li:first-child {
    padding-left: 0;
    font-size: 20px;
    padding-right: 24px;
}

#alpha,
#numeric {
    font-size: 32px;
}

#value {
    overflow: hidden;
    height: 32px;
    margin-top: 8px;
    padding: 0 8px;
    font-size: 24px;
    line-height: 32px;
    border-radius: 4px;
    background-color: #eee;
}

.hide {
    display: none;
}
